CMakeLists.txt.*
obj-*
debian/tmp
debian/files
debian/libkgpnotify*.log
debian/libkgpnotify*.substvars
debian/libkgpnotify1
debian/libkgpnotify-dev
debian/libkgpnotify*.debhelper
debian/.debhelper
debian/debhelper*
