CMakeLists.txt.*
obj-*
debian/tmp
debian/files
debian/lib-kgpnotify*.log
debian/lib-kgpnotify*.substvars
debian/lib-kgpnotify1
debian/lib-kgpnotify-dev
debian/lib-kgpnotify*.debhelper
debian/.debhelper
